body {
    display: flex;
    flex-direction: column;
    margin: 0;
    min-height: 100vh;
    flex: 1;
}

header {
    background-color: #1F2937;
    padding: 8px 60px;
}

footer {
    background-color: #1F2937;
    color: #E5E7EB;
    padding: 8px 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}



ul {
    list-style: none;
    padding-left: 0;
    display: flex;
}

a{
    text-decoration: none;
    color: #E5E7EB;
}

button {
    color: #F9FAF8;
    background-color: #3882F6;
}

.nav {
    display: flex;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    display: flex;
    align-items: center;
}

.headerlink {
    margin-left: auto;
    gap: 8px;
}





.title {
    display: flex;
}

.awesome {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.body {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    justify-content: ;
}

.main {
    display: flex;
    flex-direction: column;
    padding: 8px 60px;
    flex-grow: 1;
}



.info {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;

}

.container {
    display: flex;
}

.second {
    background-color: #E5E7EB;
}

.quote {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: #1F2937;
}

.action {
    background-color: #3882F6;
    display: flex;
    align-items: center;
    flex-grow: 1;
    margin: 20px;
}